<body>

<h1>Books</h1>

<div class="table">

<% @books.each do |book| %>

<div class="date">
 <th>title<th>
 <span><%= book.title %></span>
 </div>

<div class="date">
<th>Body<th>
 <span><%= book.body %></span>
 </div>

 <span>
   <%= link_to show, "/books/#{book.id}" %>
 </span>

 </div>

 <% end %>


<div>
<h2>New book</h2>

<%= form_with model: @book, url:'/books', local:true do |f| %>

<label>Title</label>

<%= f.text_field :title %>

<label>Body</label>

<%= f.text_area :body %>

<div class=create><%= f.submit 'Create Book' %></div>
<% end %>
</div>

</body>



