<body>

<h1>Books</h1>

<div class="table1">
 <div class="title1">
 <th>title<th>
 </div>

 <div class="title2">
<th>Body<th>
 <th></th>
 </div>
</div>



<% @books.each do |book| %>


<div class="table">

 <div class="date1">
  <span><%= book.title %></span>
 </div>
<div class="date2">
   <span><%= book.body %></span>
</div>
<div class="date3">
 <p><%= link_to 'Show', book_path(book.id) , class:"black" %></p>
 </div>
 <div class="date4">
 <p><%= link_to "Edit", edit_book_path(book.id) , class:"black" %></p>
 </div>
<div class="date5">
 <p><%= link_to "Destroy", book_path(book.id), method: :delete , class:"black" %></p>
</div>
 </div>



 </div>

 <% end %>


<div>
<h2>New book</h2>

<%= form_with model: @book, url:'/books', local:true do |f| %>

<label>Title</label>

<%= f.text_field :title %>

<label>Body</label>

<%= f.text_area :body %>

<div class=create><%= f.submit 'Create Book' %></div>
<% end %>
</div>

</body>



